[user]
	name = Marshall Anderson
	email = Anderson_Marshall@shure.com
[core]
    autocrlf = false
	excludesfile = /Users/andersm/.gitignore_global
[diff]
    tool = bc3
[merge]
    tool = bc3
[alias]
    sync = pull --rebase
    st = status -s
    sb = status -sb
    sl = stash list
    ss = stash show
    ssd = stash show -p
    files = diff --stat

    ;Show current branch only (long, short, full stats)
    lcl = log --graph --pretty=format:'%C(auto)%h %C(bold blue)(%cd) %C(magenta)<%an> %C(white)-%C(auto)%d %s' --date=short
    lc  = lcl -15
    lcf = lcl --stat

    ;Show builds (long, short, full stats)
    lbl = lcl --branches --tags --remotes
    lb  = lbl -15
    lbf = lbl --stat

    ;Don't show builds (long, short, full stats)
    ll  = lcl --branches --remotes --decorate-refs-exclude=*/builds/* --decorate-refs-exclude=refs/tags/*
    l   = ll -15
    lf  = ll --stat
[push]
    default = simple
[color]
    ui = auto
[mergetool "bc4"]
    trustExitCode = true
[mergetool "bc3"]
    trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
