[user]
	name = Marshall Anderson
	email = ...
[core]
    autocrlf = false
	excludesfile = /Users/manderson/.gitignore_global
[diff]
    tool = bc3
[merge]
    tool = bc3
[alias]
    sync = pull --rebase
    st = status -s
    sb = status -sb
    sl = stash list
    ss = stash show
    ssd = stash show -p
    files = diff --stat

    lbase = log --graph --decorate --all
    ll = lbase --pretty=fave
    l = ll -20
    lf = lbase --pretty=medium --stat
[push]
    default = simple
[color]
    ui = auto
[mergetool "bc4"]
    trustExitCode = true
[mergetool "bc3"]
    trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = /Users/manderson/.stCommitMsg
[pretty]
	fave = %C(auto)%h %s%C(bold red)%d %C(bold magenta)<%an>
