[user]
	name = Marshall Anderson
	email = ...
[core]
    autocrlf = false
	excludesfile = /Users/manderson/.gitignore_global
[alias]
    sync = pull --rebase
    st = status -s
    sb = status -sb
    sl = stash list
    ss = stash show
    ssd = stash show -p
    files = diff --stat

    lbase = log --graph --decorate --branches --tags --remotes
    ll = lbase --pretty=fave
    l = ll -25
    lf = lbase --pretty=medium --stat
[push]
    default = simple
[color]
    ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = /Users/manderson/.stCommitMsg
[pretty]
	fave = %C(auto)%h %s%C(auto)%d %C(bold magenta)<%an>
[fetch]
	prune = true
