'packages': [
  'about'
  'archive-view'
  'atom-dark-syntax'
  'atom-dark-ui'
  'atom-light-syntax'
  'atom-light-ui'
  'autocomplete-atom-api'
  'autocomplete-css'
  'autocomplete-html'
  'autocomplete-plus'
  'autocomplete-snippets'
  'autoflow'
  'autosave'
  'background-tips'
  'base16-tomorrow-dark-theme'
  'base16-tomorrow-light-theme'
  'bookmarks'
  'bracket-matcher'
  'busy-signal'
  'command-palette'
  'dalek'
  'dash'
  'data-atom'
  'deprecation-cop'
  'dev-live-reload'
  'encoding-selector'
  'exception-reporting'
  'find-and-replace'
  'find-and-replace-under-cursor'
  'fuzzy-finder'
  'git-diff'
  'github'
  'go-to-line'
  'grammar-selector'
  'highlight-selected'
  'image-view'
  'incompatible-packages'
  'keybinding-resolver'
  'language-c'
  'language-clojure'
  'language-coffee-script'
  'language-csharp'
  'language-css'
  'language-gfm'
  'language-git'
  'language-go'
  'language-html'
  'language-hyperlink'
  'language-java'
  'language-javascript'
  'language-json'
  'language-less'
  'language-make'
  'language-mustache'
  'language-objective-c'
  'language-perl'
  'language-php'
  'language-property-list'
  'language-python'
  'language-ruby'
  'language-ruby-on-rails'
  'language-rust-bundled'
  'language-sass'
  'language-shellscript'
  'language-source'
  'language-sql'
  'language-swift'
  'language-text'
  'language-todo'
  'language-toml'
  'language-typescript'
  'language-xml'
  'language-yaml'
  'last-cursor-position'
  'line-ending-selector'
  'link'
  'markdown-preview'
  'metrics'
  'minimap'
  'minimap-autohider'
  'minimap-bookmarks'
  'minimap-cursorline'
  'minimap-highlight-selected'
  'minimap-quick-highlight'
  'notifications'
  'one-dark-syntax'
  'one-dark-ui'
  'one-light-syntax'
  'one-light-ui'
  'open-on-github'
  'package-generator'
  'parcel'
  'quick-highlight'
  'settings-view'
  'snippets'
  'solarized-dark-syntax'
  'solarized-light-syntax'
  'sort-lines'
  'spell-check'
  'status-bar'
  'styleguide'
  'switch-header-source'
  'symbols-tree-view'
  'symbols-view'
  'tabs'
  'tidy-tabs'
  'timecop'
  'todo-show'
  'tree-view'
  'update-package-dependencies'
  'vim-mode-plus'
  'vim-mode-plus-keymaps-for-surround'
  'welcome'
  'whitespace'
  'wrap-guide'
]
